body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size:100% 50em;
	color: #020;
	font-family:helvetica, arial, sans-serif;
	line-height:1.4;
}
p{
	font-size:18px;
}
.active{
	border:2px ridge #9f9;
}
td{
	padding:3px;
	text-decoration:underline;
}
img{
	max-width:50%;
	max-height:400px;

}
#sidebar{
	color: #fff;
	float:left;
	padding:10px;
	text-align:center;
}
#funFact{
	width:50%;
	float:right;
	text-align:left;

}
#group{
	position:relative;
	border:3px ridge #ddd;
	margin-left:15em;
	margin-right:5em;
	padding:2em;
	height:30em;
	background: #dddfdd;
}
#input{
	position:absolute;
	left:40%;
	bottom:10%;
}
small{
	position:absolute;
	bottom:1%;
	left:30%;
}